/*# sourceMappingURL=main.css.map */
/** Locale Setting **/
.ovl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }

.dgt_cl {
  clear: both;
  overflow: hidden; }

.helper-hide {
  display: none; }

.helper-force-hide {
  display: none !important; }

/*
  Tiny Scrollbar
 */
.scrolled {
  width: 100%; }

.scrolled .g-viewport {
  height: 100%;
  overflow: hidden;
  position: relative; }

.scrolled .g-overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px 0 0;
  width: 100%; }

.scrolled .g-thumb .end,
.scrolled .g-thumb {
  background: url(../images/custas.png) no-repeat;
  background-size: 25px; }

.scrolled .g-scrollbar {
  position: relative;
  float: right;
  width: 25px; }

.scrolled .g-track {
  height: 100%;
  width: 25px;
  position: relative;
  background: url(../images/bg-tinyscroll.png) repeat-y center top; }

.scrolled .g-thumb {
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0; }

.scrolled .g-thumb .end {
  overflow: hidden;
  height: 5px;
  width: 25px; }

.scrolled .g-disable {
  display: none; }

.g-noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none; }

.styled {
  display: none; }

.checkbox,
.radio {
  width: 25px;
  height: 25px;
  background: url(../images/checkbox.png) no-repeat;
  display: inline-block; }

.radio {
  background: url(../images/radio.png) no-repeat;
  cursor: pointer; }

input[type="text"],
input[type="password"] {
  background: transparent;
  line-height: 1;
  height: 48px;
  border-radius: 25px;
  font-size: 16px;
  color: #000;
  width: 100%;
  padding: 2px 20px 0 20px;
  border: 1px solid #707070; }
  input[type="text"]:focus::-webkit-input-placeholder,
  input[type="password"]:focus::-webkit-input-placeholder {
    opacity: 0; }

input[type="text"]::selection,
input[type="password"]::selection,
textarea::selection {
  background: #ededed;
  text-shadow: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: none; }

/*
 * Neat Grid settings
 */
/*
 *  Links color
 */
/** Vendor **/
/*$column: golden-ratio(1em, 3) !default; // Column width
$gutter: golden-ratio(1em, 1) !default; // Gutter between each two columns
$grid-columns: 12 !default; // Total number of columns in the grid
$max-width: em(1088) !default; // Max-width of the outer container
$border-box-sizing: true !default; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR !default;*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/** Partials **/
/*
 * typography.scss
 *
 * $Rev:: 13112         $:  Revision of last commit
 * $Author:: lilee      $:  Author of last commit
 * $Date:: 2014-07-30 1#$:  Date of last commit
*/
@font-face {
  font-family: 'VNFGotham';
  src: url("../fonts/VNFGotham.eot");
  src: url("../fonts/VNFGotham.eot") format("embedded-opentype"), url("../fonts/VNFGotham.woff") format("woff"), url("../fonts/VNFGotham.ttf") format("truetype"), url("../fonts/VNFGotham.svg#VNFGotham") format("svg"); }

@font-face {
  font-family: 'VIEGothamBold';
  src: url("../fonts/VIEGothamBold.eot");
  src: url("../fonts/VIEGothamBold.eot") format("embedded-opentype"), url("../fonts/VIEGothamBold.woff") format("woff"), url("../fonts/VIEGothamBold.ttf") format("truetype"), url("../fonts/VIEGothamBold.svg#VIEGothamBold") format("svg"); }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "VIEGothamBold", Helvetica, Verdana, Roboto, sans-serif; }

h1 {
  font-size: 2.5em;
  line-height: 1.05; }

h2 {
  font-size: 1.625em;
  line-height: 1.15385; }

h3 {
  font-size: 1.5em;
  line-height: 1.16667; }

h4 {
  font-size: 1.25em;
  line-height: 1.2; }

h5 {
  font-size: 1.125em;
  line-height: 1.33333; }

h6 {
  font-size: 0.875em;
  line-height: 1.42857; }

strong {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

a {
  transition: transform 1s;
  background: linear, to top, black, white;
  display: flex; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.13); }

html {
  -webkit-backface-visibility: hidden;
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden; }

body {
  max-width: 100%;
  min-height: 100%;
  background: #fff;
  font-family: "VIEGothamBold", Helvetica, Verdana, Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  line-height: 1.5;
  position: relative;
  letter-spacing: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-backface-visibility: hidden; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #ccc;
  text-shadow: none; }

::selection {
  background: #ccc;
  text-shadow: none; }

/*
 * Inputs placeholder default colour and size
 */
::-webkit-input-placeholder {
  color: #000; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #000; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 0; }

/*
 * Remove default Paragraph styles.
 */
p {
  margin: 0; }

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

textarea,
input {
  outline: none; }

:focus {
  outline-color: transparent;
  outline-style: none; }

/** CQ Resets **/
#CQ * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }
  #CQ * fieldset label {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto; }
  #CQ * input {
    vertical-align: baseline; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    list-style: none; }

table {
  display: table;
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: red; }

footer {
  background: #000;
  color: yellow; }
